{% extends 'parent_resource_app/base_template.html' %}

{% block content%}
    <h1>{{event.title}}</h1>
    <p class="detail"><strong>_(Event Type:) </strong> {{event.service_type}}</p>
    <p class="detail"><strong>Price: </strong> {{event.price}}</p>
    <p class="detail"><strong>Description: </strong> {{event.description}}</p>
    <p class="detail"><strong>For Ages: </strong> {{event.age_group}}</p>
    <p class="detail"><strong>Where: </strong> {{event.location}}</p>
    <p class="detail"><strong>When: </strong> {{ event.start_date|date:"M d" }} - {{ event.end_date|date:"M d" }}</p>

    <p>
        <a aria-current="page" href="{% url 'updateEvent' event.organization.id event.id %}" ><button class="edit_button">Edit</button></a>
        <a aria-current="page" href="{% url 'deleteEvent' event.organization.id event.id %}"><button class="edit_button">Delete</button></a> 
    </p>
{% endblock %}