{% extends 'parent_resource_app/base_template.html' %}

{% block content %}
    <h1>Groups in Colorado</h1><br>
    {% if group_list %}
        <ul class="list-group">
            {% for group in group_list %}
                <li class="a"><h2>{{ group.name }}</h2>
                    <p><strong>About: </strong>{{group.about}}</p>
                    <a href="{{ group.get_absolute_url }}"><button class="edit_button">View Details</button></a>
                </li> <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no groups registered.</p>
    {% endif %}
{% endblock %}
