{% extends 'parent_resource_app/base_template.html' %}

{% block content%}

    <h1><strong>Name:</strong> {{ group.title }}</h1><p><a aria-current="page" href="{% url 'updateGroup' group.id %}"><button class="edit_button">Edit Group Info</button></a></p> 
    <p><strong>Email:</strong> {{group.email}}</p>
    <p><strong>About:</strong><br> {{group.about}}</p>
    <h2><strong>Events:</strong></h2> <a aria-current="page" href="{% url 'createEvent' group.id %}"><button class="edit_button">Create New Event</button></a> 
    <br><br>
    {% if group.event_set.all %}
        <ul>
           {% for event in group.event_set.all %}
              <li class="a"><a class="textlink" href="{{ event.get_absolute_url }}" >{{ event.title }}</a><br><br>
              <a aria-current="page" href="{% url 'updateEvent' group.id event.id %}" ><button class="edit_button">Edit</button></a>
              <a aria-current="page" href="{% url 'deleteEvent' group.id event.id %}"><button class="edit_button">Delete</button></a> 
            </li><br>
           {% endfor %}
        </ul>
    {% else %}
        <p>There are no events from this group.</p>
    {% endif %}
       

{% endblock %}