{% extends 'parent_resource_app/base_template.html' %}

{% block content %}
    {% if user.id == organization.user.id  %}
        <a aria-current="page" href="{% url 'updateOrganization' organization.id %}"><button class="button">Edit Profile</button></a>
        <a aria-current="page" href="{% url 'createEvent' organization.id %}"><button class="button">Create New Event</button></a> <br><br>
    {% endif %}

    <div class="card">
        <p class="card-header">{{ organization.name }} </p>
        <div class="card-body">
            <p class='card-text'>Email: {{ email }}</p>
            <p class='card-text'>Phone: {{ organization.phone }}</p>
            <p class='card-text'> {{ organization.about }}</p>
        </div>
    </div><br>

    <h2><strong>Events:</strong></h2>

    {% if organization.event_set.all %}
        <div class="card">
            {% for event in organization.event_set.all %}
                <div class="card-body">
                    <p class="card-header"><a class="textlink" href="{{ event.get_absolute_url }}">{{ event.title }}</a></p>
                    <p class="card-text">{{ event.description }}</p>
                    {% if user.id == organization.user.id%}
                        <a aria-current="page" href="{% url 'updateEvent' organization.id event.id %}" ><button class="edit_button">Edit</button></a>
                        <a aria-current="page" href="{% url 'deleteEvent' organization.id event.id %}"><button class="edit_button">Delete</button></a> 
                    {% endif %}
                </div><br>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no events from this group.</p>
    {% endif %}
{% endblock %}
