{% extends 'parent_resource_app/base_template.html' %}

{% block content%}

    <h1>{{ organization.name }}</h1><p><a aria-current="page" href="{% url 'updateOrganization' organization.id %}"><button class="button">Edit Group Info</button></a></p> <br><br>
    <p class="detail"><strong>Email:</strong> {{organization.email}}</p>
    <p class="detail"><strong>About:</strong><br> {{organization.about}}</p>
    <h2><strong>Events:</strong></h2> <a aria-current="page" href="{% url 'createEvent' organization.id %}"><button class="button">Create New Event</button></a>
    <br><br>

    
    {% if organization.event_set.all %}
        <ul>
           {% for event in organization.event_set.all %}
              <li class="a"><a class="textlink" href="{{ event.get_absolute_url }}" >{{ event.title }}</a><br><br>
              {{event.description}}  <br><br>
              <a aria-current="page" href="{% url 'updateEvent' organization.id event.id %}" ><button class="edit_button">Edit</button></a>
              <a aria-current="page" href="{% url 'deleteEvent' organization.id event.id %}"><button class="edit_button">Delete</button></a> 
            </li><br>
           {% endfor %}
        </ul>
    {% else %}
        <p>There are no events from this group.</p>
    {% endif %}
       

{% endblock %}