{% extends 'parent_resource_app/base_template.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Groups in Colorado" %}</h1><br>
    {% if organization_list %}
        <div class="d-grid">
            {% for group in organization_list %}
                <div class="a">
                    <h2 class="normal">{{ group.name }}</h2>
                    <p><strong>{% trans "About" %}: </strong>{{ group.about }}</p>
                    <a href="{{ group.get_absolute_url }}"><button class="edit_button">{% trans "View Details" %}</button></a>
                </div> <br>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "There are no groups registered." %}</p>
    {% endif %}
{% endblock %}

