{% extends 'parent_resource_app/base_template.html' %}
{% load i18n %}

{% block content %}
    
    <br>
    <div class="card">
        <p class="card-header">{{ organization.name }} </p>
        <div class="card-body">
            <p class='card-text'><strong>{% trans "Email" %}:</strong> {{ organization.email }}</p>
            <p class='card-text'><strong>{% trans "Phone" %}:</strong> {{ organization.phone }}</p>
            <p class='card-text'> {% trans organization.about %}</p>
        </div>
    </div>

    {% if user.id == organization.user.id  %}
        <a aria-current="page" href="{% url 'updateOrganization' organization.id %}"><button class="button">{% trans "Edit Profile" %}</button></a>
        <a aria-current="page" href="{% url 'createEvent' organization.id %}"><button class="button">{% trans "Create New Event" %}</button></a> <br><br>
    {% endif %}

    {% if organization.event_set.all %}
        <div class="d-grid">
            {% for event in organization.event_set.all %}
                <div class="a">
                    <h3><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
                    <p>{{ event.description }}</p>
                    {% if user.id == organization.user.id%}
                        <a aria-current="page" href="{% url 'updateEvent' organization.id event.id %}" ><button class="edit_button">{% trans "Edit" %}</button></a>
                        <a aria-current="page" href="{% url 'deleteEvent' organization.id event.id %}"><button class="edit_button">{% trans "Delete" %}</button></a> 
                    {% endif %}
                </div><br>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "There are no events from this group." %}</p>
    {% endif %}
{% endblock %}
